/* p, h1, hr{
color: #9b9999;
width: 350px;

}
header{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
}

.qqq{
padding-left: 200px;
}
h1{
    color: black;
}

.date {
    color: #333b50;
} */
    